@import "~antd/dist/antd.css";

.spinner-wrapper {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.h-100 {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.dashboard-content {
    padding: 15px;
}
